html{
margin: 0;
padding: 0;
/* font-family: sans-serif; */
box-sizing: border-box;
font-size: 2vw;
}



@font-face {
  font-family: "Cubic_11";
  src: url("./font/Cubic_11.ttf") format("truetype");
}
div {
  /* border: 5px black solid; */
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url(./img/bg.png);
  width: 100%;
  font-size: 1rem;
}

/* //////////////////////.section0/////////////////////// */
.section0{
  height:  100vh; 
  width: 100%;
  /* background-color: rgb(255, 0, 0); */
}

.navbar{
  /* width: 100%; */
}

.banner {
  /* width: 100%; */
  height: 50vh;
  text-align: center;
  line-height: 220px;
  /* overflow: hidden; */
  position: relative;
  /* z-index: 2; */
  transform-style: preserve-3d;

}
.banner .slider {
  position: relative;
  width: 100px;
  height: 250px;
  top: 30%;
  left: calc(50% - 50px);
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(-10deg);
  animation: autoRun 20s linear infinite;
}
.banner-img {
  position: absolute;
  width: 70vh;
  top: 10%;
  left: 50%;
  transform:translateX(-50%)

  /* z-index: 1; */
  /* left: -150px; */
  /* transform-style: preserve-3d; */
  /* animation: counterAutoRun 20s linear infinite; */
}


@keyframes autoRun {
  from {
    transform: perspective(1000px)  rotateY(0deg);
  }
  to {
    transform: perspective(1000px)  rotateY(360deg);
  }
}
@keyframes counterAutoRun {
  from {
    transform: perspective(1000px) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateY(-360deg);
  }
}

.banner .slider .item {
  height: 200px;
  width: 150px;
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) translateZ(300px);
}
.banner .slider .item img {
  width: 20%;
  height: 20%;
  object-fit: contain;

}
.bannerbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 33vh;
}



.banner-title {
  position: relative;
 font-size: clamp(50px, 10vw, 150px);
  color: aliceblue;
  font-weight: bolder;
  text-align: center;

  -webkit-text-stroke: 2px black;
  z-index: 2;
}
.bannerflex {
  display: flex;
}

/* //////////////////導航欄/////////////////////// */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  height: 7vh;
  background-color: #4a4a4a;
  /* width: 100%; */

}
.nav ul {
  list-style: none;
  /* padding: 0;
  margin: 0; */
  display: flex;
  justify-content: center;
  width: 100%;

}
.nav ul li {
  margin: 0 15px;
}
.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 15px;
  display: block;
}
.nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* //////////////////////section1////////////////// */
.section1{
display: flex;
height: 100vh;
position: relative;
top: 7vh;
}

.gutcha{
  width: 100px;
  height: 100px;
  
}



/* /////////////////////////////card/////////////////////////// */
.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* margin: auto; */
  
}
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 50vh;
  height: 70VH;
  text-align: center;
  padding: 20px;
}
.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.card h2 {
  margin: 10px 0;
  font-size: 1.5rem;
}
.card p {
  color: #555;
  font-size: 1rem;
}